<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/008c0302-cf0a-4161-ac96-00704acc28af/resourcegroups/TexnoGallery20191109110114ResourceGroup/providers/Microsoft.Web/sites/SimitSarayBaku</ResourceId>
    <ResourceGroup>TexnoGallery20191109110114ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://elxanquliyev-001-site1.itempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://elxanquliyev-001-site1.itempurl.com:8172/MsDeploy.axd?site=elxanquliyev-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>elxanquliyev-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>elxanquliyev-001</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SimitSarayDB" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5050.site4now.net;Initial Catalog=DB_A4F2AC_SimitSarayi;User ID=DB_A4F2AC_SimitSarayi_admin;Password=Codel_1366;Application Name=EntityFramework" Name="Data Source=SQL5050.site4now.net;Initial Catalog=DB_A4F2AC_SimitSarayi;User ID=DB_A4F2AC_SimitSarayi_admin;Password=Codel_1366;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Simit_Saray.Models.SimitSarayDB, Simit Saray" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SimitSarayDB-Web.config Connection String">
      <ParameterValue>Data Source=SQL5050.site4now.net;Initial Catalog=DB_A4F2AC_SimitSarayi;User ID=DB_A4F2AC_SimitSarayi_admin;Password=Codel_1366;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>